<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="kr.family.praisesticker" android:versionCode="1" android:versionName="1.0.0">
 <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
 <uses-permission android:name="android.permission.INTERNET"/><uses-permission android:name="android.permission.VIBRATE"/>
 <application android:label="칭찬 스티커" android:theme="@style/AppTheme" android:icon="@drawable/ic_launcher" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true">
 <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
 <provider android:name=".ShareProvider" android:authorities="kr.family.praisesticker.share" android:exported="false" android:grantUriPermissions="true"/>
 </application>
</manifest>
